[Desktop Entry]
Name=Gpu Offloading Manager
Exec=gom-app
Icon=${SNAP}/meta/gui/gom-app.svg
Terminal=false
Type=Application
Categories=GTK;
StartupNotify=true
